.icon-link{
    color: black;
}

#search-bar{
    border-radius: 8px;
    background: #efefef;
    font-size: 16px;
    padding: 6px 150px 6px 15px;
    justify-content: center;
    cursor: text;
    font-weight: 300;
    color: darkgray;
    align-items: center;
    margin-left: auto;
}

#search-bar a{
    color: darkgray;
}

#menu {
    margin-left: 4em;
}

.topbar-profile-photo{
    width: 1.8em;
    height: 1.8em;
    position: relative;
    padding: 1px;
}

.stories-profile-photo {
    width: 4em;
    height: 4em;
    position: relative;
    padding: 2px;
}

.stories-username {
    font-size: small;
}

.post-profile-photo {
    width: 2.5em;
    height: 2.5em;
    position: relative;
    padding: 1px;
}

.like-profile-photo{
    width: 1.3em;
    height: 1.3em;
    position: relative;
    padding: .5px;
}

.post-username{
    font-size: 14px;
    font-weight:600;
    color: black;
}

.likes {
    font-size: 14px;
}

.likes a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.post-comments-number{
    font-size: 14px;
    color: darkgray;
}

.post-subtitle, .post-comment {
    font-size: 14px;
}

.post-time {
    font-size: 10px;
    color: darkgray;
}

.textarea-comment {
    resize: none;
}

.textarea-comment:focus {
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-publish {
    color:rgba(0,149,246,0.4);
    font-size: 14px;
}